version: '3.1'

services:
  top-api:
    image: top-api:latest
    container_name: top-api
    restart: always
    ports:
      - "3000:3000"
    volumes:
      - ./.env:/opt/app/.env
  mongo:
    container_name: mongo
    image: mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: root
    volumes:
      - ./mongo-data:/data/mongo
    ports:
      - "27017:27017"
